html {
	box-sizing: border-box;
}
*, *:after, *:before {
	box-sizing: inherit; 
}
.container {
	display: flex;
	max-width: 960px;
	background-color: #eaeaea;
	margin: 20px auto;
}
.profile {
	max-width: px;
	background-color: #39383a;
	color: #ababab;
}
.profile-photo {
	height: 270px;
	background-image: url(https://st2.depositphotos.com/2001755/5408/i/450/depositphotos_54081723-stock-photo-beautiful-nature-landscape.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}
.profile-info {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	padding-bottom: 70px;
}
.profile-text {
	line-height: 24.19px;
	font-size: 13px;
	margin-bottom: 53px;
}
.heading {
	margin: 0;
	padding-bottom: 16px;
	text-transform: uppercase;
	font-weight: 700px;
}
.heading-light {
	color: #ffffff;
	border-bottom: 2px #5a5a5a dashed;
}
.contacts {
	margin-bottom: 70px;
}
.contacts-title {
	color: #fff;
	margin-bottom: 13px;
	font-size: 16px;
	font-weight: 400px; 
}
.contacts-text {
	color: #ababab;
	text-decoration: none;
	padding-left: 27px;
	line-height: 20.97px;
}
.contacts-item {
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 2px #5a5a5a dashed;
}
.address {
	font-style: normal;
}
.fas {
	margin-right: 7px;
}

